<!DOCTYPE html>
<html>
  <head>
    <title>Craigslist</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="header">
      <%= render 'layouts/breadcrumb_nav' %>
    </div>
    <p class="notice"><%= notice %></p>
    <div class="main">
      <div class="main-left">
        <p><strong><%= link_to 'Craiglist Clone', root_path %></strong></p>

        <p><%= link_to 'Create new post', new_post_path %></p>

        <p><%= link_to 'My Account', new_account_session_path unless account_signed_in? %></p>

        <div class="search-container">
          <input type="text" placeholder="search craigslist" name="search">
        </div>

        <%= render 'categories/category_sidebar' if controller.controller_name == 'categories' %>

        <% if is_home? %>
          <div class="nav-pages">
            <p><%= link_to 'help,faq, abuse, legal', faqs_path %></p>
            <p><%= link_to 'avoid scams & fraud', scams_path %></p>
            <p><%= link_to 'personal safety tips', safety_path %></p>
            <p><%= link_to 'terms of use', terms_path %></p>
          </div>
        <% end %>
      </div>
      <div class="main-center">
        <%= yield %>
      </div>
      <div class="main-right">
        <% if is_home? %>
          <div class="nav-locations">
            <div class="nearby">
              <p><strong>nearby cl</strong></p>
            </div>
            <p>albany</p>
            <p>daytona beach</p>
            <p>jacksonville</p>
            <p>miami</p>
          </div>
        <% end %>
      </div>
    </div>
  </body>
</html>
